<button class="toggle-btn" (click)="toggleDrawer()" [style.background-color]="primaryColor">
  <span class="material-icons" [style.color]="secondaryColor">menu</span>
</button>

<div class="drawer" [class.open]="isOpen" [style.background-color]="primaryColor">
  <div class="drawer-header">
    <img src="assets/images/logo.png" alt="Logo" class="logo">
    <h2 [style.color]="secondaryColor">IPIa Fun zone</h2>
    <button class="close-btn" (click)="toggleDrawer()">
      <span class="material-icons" [style.color]="secondaryColor">close</span>
    </button>
  </div>
  <ul class="menu-items">
    <li>
      <a (click)="navigateAndClose('/trackers-dashboard')" [style.color]="secondaryColor">
        <span class="material-icons menu-icon" [style.color]="secondaryColor">fitness_center</span>
        Personal Life Dashboard
      </a>
    </li>
    <li>
      <a (click)="navigateAndClose('/statistic')" [style.color]="secondaryColor">
        <span class="material-icons menu-icon" [style.color]="secondaryColor">bar_chart</span>
        Statistic Dashboard
      </a>
    </li>
    <li>
      <a (click)="downloadUserDataPdf()" [style.color]="secondaryColor">
        <span class="material-icons menu-icon" [style.color]="secondaryColor">picture_as_pdf</span>
        Download User Data (PDF)
      </a>
    </li>

    <li>
      <a (click)="toggleSubmenu()" [style.color]="secondaryColor">
        <span class="material-icons menu-icon" [style.color]="secondaryColor">school</span>
        Student Fun Zone
        <span class="material-icons expand-icon" [style.color]="secondaryColor">{{ showSubmenu ? 'expand_less' :
          'expand_more' }}</span>
      </a>
      <ul class="submenu" [class.show]="showSubmenu">
        <li><a (click)="navigateAndClose('/bingo')" [style.color]="secondaryColor"><span
              class="material-icons submenu-icon" [style.color]="secondaryColor">games</span>Bingo</a></li>
        <li><a (click)="navigateAndClose('/kviz')" [style.color]="secondaryColor"><span
              class="material-icons submenu-icon" [style.color]="secondaryColor">quiz</span>Kviz</a></li>
        <li><a (click)="navigateAndClose('/whiteboard')" [style.color]="secondaryColor"><span
              class="material-icons submenu-icon" [style.color]="secondaryColor">edit</span>Whiteboard</a></li>
        <li><a (click)="navigateAndClose('/kanban')" [style.color]="secondaryColor"><span
              class="material-icons submenu-icon" [style.color]="secondaryColor">view_kanban</span>Kanban</a></li>
        <li><a (click)="navigateAndClose('/vision-board')" [style.color]="secondaryColor"><span
              class="material-icons submenu-icon" [style.color]="secondaryColor">visibility</span>Vision board</a></li>
      </ul>
    </li>
    <li *ngIf="role === 'admin'">
      <a (click)="navigateAndClose('/user-settings')" [style.color]="secondaryColor">
        <span class="material-icons menu-icon" [style.color]="secondaryColor">settings</span>
        User Settings
      </a>
    </li>
  </ul>
</div>